.list {
    width: 600px;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    padding: 1px 10px;
    border: 1px solid #007FFF; 
    font-size: 30px;
    justify-content: space-between;
}











