.input {
    width: 560px;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        border: 1px solid #007FFF;
        border-radius: 4px;
        margin-bottom: 10px;
}